body {
  margin: 0;
}

.game {
  display:grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer"  
}

.header {
  grid-area: header;
  text-align: center;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "main-left game-board main-right"

}  

.game-board {
  grid-area: game-board;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-color: lightblue;
}

.main-right {
  grid-area: main-right;
}

.tile {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "stack-head stacked-pieces"
}

.stack-head {
  grid-area: stack-head;

}

.stacked-pieces {
  grid-area: stacked-pieces;
  display: grid;
  justify-content: center;
  align-content: flex-end;
}

.stacked-piece {
  background-color: black;
  max-height: 5px;
  max-width: 5px;
  padding: 1px;
  margin: 2px;
}

.action {
  margin: 10px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-content: center;
}
